{% extends 'myapp/base.html' %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>


<style type="text/css">

        body{
        font-family: 'Josefin Sans', sans-serif;
    }
    .jumbotron{
    	margin-top:3.7em;
    }



</style>
	<div class="jumbotron">
<div class = "row">
	<div class ="col-md-2">
		  <p>Proof of concept Pyalgotrade algorithm simmulator</p>
	</div>	  
	<div class ="col-md-7 col-xs-8">
		
		  <h3></h3> 
    </div>
    <div class ="col-md-7 col-xs-12">

	
		  
		  <div class="btn-group">
          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Sample Algorithms<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/myapp/algo">Backtesting</a></li>

          </ul>
        </div>



	</div>

	

</div>




<div class = "row">

<div class ="col-md-7">

		  <p><br><br>Created by <a href="http://www.imranhassanali.com">Imran Hassanali</a></p>
	</div>	  

	</div>





	
{% endblock %}


